h1,h2,h3,h4,h5,h6{
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
}
form, buttom,
input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
        hyphens: auto;
    background-color: transparent;
    display: flex;
    color: inherit;
}
body{
    font-family: var(--tipo-principal);
    font-size: 100%;
    background-color: var(--blanco);
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-smoothing: grayscale;
}
.header{
    width: 100%;
    min-height: 5em;
    background: rgb(200, 168, 241);
    padding: 1em 2em;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.header .h1{
}
.header .h1 .a{}
.header .nav{}
.header .ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.header .li{
    margin: 0 1em;
}
.header .li .a{}

.main{
    background: lightgray;
    margin: 1em 0;
}
.section{
    width: 100%;
    min-height: 80vh;
    background: rgb(200, 168, 241);
    margin: 1em 0;
    padding: 2em;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.section .circulos{}
.section .circulo{}
.section .h2{}
.section .h3{}

.section .p{}
.section .grid{
    width: 90%;
    background: rgba(255, 255, 255, 0.479);
    align-items: center;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 10rem,1fr));
    gap: 1em;
}
.section .article{
    width: 100%;
    background: rgba(0, 0, 0, 0.479);
}
.section .a{}
.section .figure{}
.section .img{}
.section .h4{}

.about{}
.about .h2{}
.about .p{}
.about .rrss{}
.about .li{}
.about .a{}
.about .svg{}