body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #6A5ACD; /* Lila */
    color: white;
    padding: 1rem 0;
    text-align: center;
}
header h1 {
    margin: 0;
    font-size: 2.5rem;
}
nav {
    background-color: #9370DB; /* Morado */
    color: white;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}
nav a:hover {
    text-decoration: underline;
}
.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.section-title {
    color: #6A5ACD; /* Lila */
    border-bottom: 2px solid #9370DB; /* Morado */
    padding-bottom: 0.5rem;
}
.section-content {
    margin: 1.5rem 0;
}
.about-content {
    display: flex;
    align-items: flex-start;
}
.about-content img {
    margin-right: 1rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.project {
    display: flex;
    align-items: center;
    background-color: #E6E6FA; /* Lavanda */
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 8px;
}
.project img {
    width: 100px;
    height: 100px;
    margin-right: 1rem;
    border-radius: 8px;
}
.contact-info {
    list-style-type: none;
    padding: 0;
}
.contact-info li {
    background-color: #D8BFD8; /* Thistle */
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 8px;
}
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #6A5ACD; /* Lila */
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.project:hover {
    background-color: #DCD0FF; /* Lavanda más clara */
}
